aiohttp==3.8.4
aiosignal==1.3.1
altgraph==0.17.3
android-backup==0.2.0
anyio==3.6.2
appdirs==1.4.4
astor==0.8.1
async-timeout==4.0.2
attrs==22.2.0
audioread==3.0.0
Babel==2.12.1
baidu-aip==4.16.10
bce-python-sdk==0.8.83
Bottleneck==1.3.7
braceexpand==0.1.7
certifi==2022.12.7
cffi==1.15.1
chardet==5.1.0
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.6
coloredlogs==15.0.1
colorlog==6.7.0
comtypes==1.1.14
construct==2.10.68
contourpy==1.0.7
croniter==1.3.14
cryptography==40.0.2
cycler==0.11.0
Cython==0.29.34
datasets==2.11.0
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.4
Distance==0.1.3
editdistance==0.6.2
fastapi==0.95.0
ffmpeg-python==0.2.0
filelock==3.10.0
Flask==2.2.3
Flask-Babel==2.0.0
flatbuffers==23.3.3
fonttools==4.39.3
frozenlist==1.3.3
fsspec==2023.4.0
ftfy==6.1.1
future==0.18.3
g2p-en==2.1.0
g2pM==0.1.2.5
h11==0.14.0
h5py==3.8.0
huggingface-hub==0.13.4
humanfriendly==10.0
HyperPyYAML==1.2.0
idna==3.4
ifaddr==0.2.0
importlib-metadata==6.3.0
importlib-resources==5.12.0
inflect==6.0.4
itsdangerous==2.1.2
jieba==0.42.1
Jinja2==3.1.2
joblib==1.2.0
jsonlines==3.1.0
kaldiio==2.18.0
kenlm==0.1
kiwisolver==1.4.4
librosa==0.8.1
llvmlite==0.39.1
loguru==0.7.0
lxml==4.9.2
markdown-it-py==2.2.0
MarkupSafe==2.1.2
matplotlib==3.7.1
mdurl==0.1.2
micloud==0.6
miservice==2.0.1
mock==5.0.1
more-itertools==9.1.0
mpmath==1.3.0
multidict==6.0.4
multiprocess==0.70.12.2
nara-wpe==0.0.9
netifaces==0.11.0
networkx==3.0
nltk==3.8.1
numba==0.56.0
numpy==1.22.4
onnxruntime==1.14.1
openai-whisper==20230314
OpenCC==1.1.1
opencc-python-reimplemented==0.1.7
opencv-python==4.7.0.72
opt-einsum==3.3.0
packaging==23.1
paddle-bfloat==0.1.7
paddle2onnx==1.0.6
paddleaudio==1.1.0
paddlefsl==1.1.0
paddlenlp==2.5.2
paddlepaddle==2.4.2
paddleslim==2.4.1
paddlespeech==1.4.1
paddlespeech-feat==0.1.0
pandas==2.0.0
parameterized==0.9.0
pathos==0.2.8
pattern-singleton==1.2.0
pefile==2023.2.7
Pillow==9.5.0
platformdirs==3.2.0
playsound==1.3.0
pocketsphinx==5.0.0
pooch==1.7.0
portalocker==2.7.0
pox==0.3.2
ppdiffusers==0.14.0
ppft==1.7.6.6
praatio==5.1.1
prettytable==3.7.0
protobuf==3.20.0
psutil==5.9.5
pvporcupine==2.1.4
pyarrow==11.0.0
PyAudio==0.2.13
pybind11==2.10.4
pycorrector==0.4.9
pycparser==2.21
pycryptodome==3.17
pydantic==1.10.7
Pygments==2.15.0
pygtrie==2.5.0
pyinstaller==5.10.0
pyinstaller-hooks-contrib==2023.2
pyparsing==3.0.9
pypinyin==0.44.0
pypinyin-dict==0.5.0
pypiwin32==223
PyQt5==5.15.9
pyqt5-plugins==5.15.9.2.3
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.0
pyqt5-tools==5.15.9.3.3
pyreadline3==3.4.1
pytest-runner==6.0.0
python-dateutil==2.8.2
python-dotenv==1.0.0
python-miio==0.5.12
pyttsx3==2.90
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
pywin32==305
pywin32-ctypes==0.2.0
pyworld==0.3.2
PyYAML==6.0
pyzmq==25.0.2
qt5-applications==5.15.2.2.3
qt5-tools==5.15.2.1.3
regex==2022.10.31
requests==2.28.2
resampy==0.4.2
responses==0.18.0
rich==13.3.4
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
sacrebleu==2.3.1
safetensors==0.3.0
scikit-learn==1.2.2
scipy==1.10.1
sentencepiece==0.1.98
seqeval==1.2.2
six==1.16.0
sniffio==1.3.0
sounddevice==0.4.6
soundfile==0.12.1
SpeechRecognition==3.10.0
starlette==0.26.1
swig==4.1.1
sympy==1.11.1
tabulate==0.9.0
TextGrid==1.5
threadpoolctl==3.1.0
tiktoken==0.3.1
timer==0.2.2
ToJyutping==0.2.3
torch==2.0.0
tqdm==4.65.0
typeguard==2.13.3
typer==0.7.0
typing_extensions==4.5.0
tzdata==2023.3
tzlocal==4.3
urllib3==1.26.15
uvicorn==0.21.1
visualdl==2.4.2
wcwidth==0.2.6
webrtcvad==2.0.10
websockets==11.0.1
Werkzeug==2.2.3
win32-setctime==1.1.0
xxhash==3.2.0
yacs==0.1.8
yarl==1.8.2
zeroconf==0.56.0
zhon==1.1.5
zipp==3.15.0
