certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
comtypes==1.1.14
idna==3.4
numpy==1.24.2
opencv-python==4.7.0.72
pocketsphinx==5.0.0
PyAudio==0.2.13
pycparser==2.21
pypiwin32==223
pyttsx3==2.90
pywin32==305
requests==2.28.2
sounddevice==0.4.6
SpeechRecognition==3.10.0
urllib3==1.26.15
